.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after { clear: both; }


body {
    font-family: sans-serif;
    font-size: 12px;
    max-width: 90%;
    margin: 20px auto;
}

.hide { display: none; }

h1 { margin-bottom: 0; }

.nowrap { white-space: nowrap; }

a { text-decoration: none;  }

nav a { padding: 3px 7px; }
nav a.active { background: #eef; border: 1px solid #ccf; border-radius: 3px; }

a.refresh:before { content: '↻ '; }
a.sent:before { content: '⇧ '; }
a.inbox:before { content: ' ⇧'; display: inline-block; position: relative; -webkit-transform: rotate(180deg); left: -2px; }

#logo {
    font-weight: bold;
    font-size: 26px;
    margin: 0 auto 20px;
    text-align: left;
    background: url(/img/logo.png) no-repeat 0 0;
    padding-left: 140px;
    height: 95px;
    line-height: 95px;
    width: 315px;
}

#logo small { font-weight: normal; }

#inbox {
    display: none;
}

#msg {
    display: none;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#msg.err {
    border-color: #c00;
    color: #900;
    background-color: #edd;
}

#msg.ok {
    border-color: #0c0;
    color: #090;
    background-color: #ded;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
    padding: 5px 0;
}

header nav { float: left; }
header > div { float: right; }

.total:before { content: '('; }
.total:after { content: ')'; }

td {
    padding: 5px 10px;
    border: 1px solid #ddd;
}



th {
    border: 1px solid #666;
    font-weight: bold;
    color: #fff;
    background-color: #666;
    padding: 5px 10px;
    cursor: pointer;
}
th.no-sort { cursor: default; }
/*
th:first-child { border-top-left-radius: 5px; }
th:last-child { border-top-right-radius: 5px; }
tr:last-child td:first-child { border-bottom-left-radius: 5px; }
tr:last-child td:last-child { border-bottom-right-radius: 5px; }
*/
th.asc:after { content: ' ▲'; }
th.desc:after { content: ' ▼'; }

tbody { min-height: 100px; position: relative; }
tbody:empty:before { content: 'Loading...'; color: #444; position: absolute; top: 50%; left: 50%; margin-left: -50px; font-size: 120%; }
tbody tr:nth-child(even) {
    background-color: #f5f6f6;
}

tbody tr.highlight { background: #eef; }

form { margin: 10px auto; }
label { display: inline-block; }
fieldset { border: 1px solid #ddd; margin-bottom: 10px; border-radius: 5px; }
fieldset input { width: 50%; }
form#login input[type=submit] { float: right; }
form#login { max-width: 50%; margin: 0 auto; }
form#login label { min-width: 25%; }


