#filter {
  position: absolute;
  top: 0;
  right: 0; }
  #filter input[type=text] {
    width: 120px; }

form {
  margin: 10px auto; }
  form small {
    color: #444;
    font-size: 12px; }
  form a {
    margin-right: 0; }

label {
  display: inline-block; }

label.error {
  color: #900; }
  label.error input[type=text] {
    border: 1px solid #900; }

fieldset {
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
  padding: 0 15px; }
  fieldset.has-legend {
    padding: 15px 30px; }

legend {
  line-height: 20px;
  box-sizing: border-box;
  top: -15px;
  left: 15px;
  position: absolute;
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0;
  border-radius: 5px;
  background: #fff; }

#login fieldset input:not([type=radio]):not([type=checkbox]), #identities input[name=label] {
  width: 50%; }

#subscriptions .action input[type=text], #contacts .action input[type=text] {
  min-width: 200px; }

input[type=text], input[type=password], textarea {
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 3px; }

input.small {
  width: 3em; }

form#login {
  max-width: 70%;
  margin: 0 auto; }
  form#login label {
    min-width: 25%; }
  form#login .remember {
    text-align: right;
    margin-right: 90px; }

form#login button[type=submit], #settings form button[type=submit] {
  float: right; }

fieldset#create-address > div, fieldset#create-deterministic > div {
  float: left;
  width: 50%;
  box-sizing: border-box; }
  fieldset#create-address > div input[type=text], fieldset#create-deterministic > div input[type=text] {
    margin-left: 5px; }
