#inbox .msg .from {
  margin: -5px 0 0; }
#inbox .msg .to {
  color: #999; }

#sent .msg .to {
  margin: -5px 0 0; }
#sent .msg .from {
  color: #999; }

.message {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 10px; }
  .message img {
    max-width: 90%; }

tr.msg header nav.actions a {
  display: inline-block; }
  tr.msg header nav.actions a.loading {
    color: #fff;
    cursor: default; }

#reply label, #compose label {
  min-width: 10%; }
#reply input[type=text], #compose input[type=text] {
  width: 50%;
  box-sizing: border-box; }
  #reply input[type=text][name=subject], #compose input[type=text][name=subject] {
    width: 89%; }
#reply .message, #compose .message {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  display: block; }

#sent tr.msg .to {
  color: #000; }
#sent tr.msg .from {
  color: #999; }
