@charset "UTF-8";
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.empty, #content:empty:before {
  content: 'Loading...';
  color: #666;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  font-size: 120%;
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin-top: -10px; }

.spin.btn {
  display: inline-block;
  height: 50px;
  width: 25px;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 12px;
  max-width: 88%;
  margin: 35px auto;
  color: #000; }

#content:empty {
  position: relative;
  min-height: 100px; }

.hide {
  display: none; }

.nowrap {
  white-space: nowrap; }

.wrap {
  word-wrap: break-word;
  word-break: break-all; }

#logo {
  font-weight: bold;
  font-size: 26px;
  margin: 0 auto 10px;
  text-align: left;
  background: url(/img/logo.png) no-repeat 0 0;
  padding-left: 140px;
  height: 95px;
  line-height: 95px;
  width: 315px; }
  #logo small {
    font-weight: normal; }

#inbox, #sent, #identities, #subscriptions, #contacts {
  display: none; }

#msg {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 0;
  margin-bottom: 15px;
  min-height: 10px;
  line-height: 10px;
  text-align: center; }
  #msg.err {
    border-color: #c00;
    color: #900;
    background-color: #edd; }
    #msg.err:before {
      content: '⚠';
      margin-right: 5px; }
  #msg.ok {
    border-color: #0c0;
    color: #090;
    background-color: #ded; }
    #msg.ok:before {
      content: '✓';
      margin-right: 5px; }

body.login {
  max-width: 75%; }
